<html dir="rtl">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body>
		<!-- load custom template helpers -->
		{% load ticketz_backend_extras %}
			
		<div style="width: 90%;margin: 0 auto;">			
			
			<!-- begin document header -->
			<div>
				<h1 style="text-align: center; font-weight: normal; color: #484848;text-decoration: underline">
				{%block title%}{%endblock title%}
				</h1>
			</div>
			<!-- end document header -->
			
			<!-- begin content -->
			<div>
				{%block content%}{%endblock content%}
			</div>
			<!--end content -->
			
			<!-- begin summary -->
			<div style="margin-top:40px">
			<h2 style="text-decoration: underline;text-align: center;">סיכום:</h2>
			{%block summary%}{%endblock summary%}
			</div>
			<!-- end summary -->
					
			
		</div>
	</body>
</html>