{% extends "base_report.html" %}

<!-- load custom template helpers -->
{% load ticketz_backend_extras %}

<!-- begin document title -->
{%block title%}דו"ח עסקאות לפי דילים{%endblock title%}
<!-- end document title -->

<!-- begin report content -->
{% block content %}

	{% if deals %}
		<div style="margin-top: 15px;">
			
			{% for deal in deals %}
				
				<!-- begin deal description -->
				<div>
					<table cellspacing="15px" width="100%">
						<tr>
							<th style="text-decoration: underline;">שם הדיל</th>
							<th style="text-decoration: underline;">זמן תחילת פעילות</th>
							<th style="text-decoration: underline;">זמן סיום פעילות</th>
							<th style="text-decoration: underline;">מחיר מקורי</th>
							<th style="text-decoration: underline;">מחיר בפועל</th>
						</tr>
						<tr>
							<td align="center">{{deal.title}}</td>
							<td align="center">{{deal.valid_from|date:"H:i d/m/Y"}}</td>
							<td align="center">{{deal.valid_to|date:"H:i d/m/Y"}}</td>
							<td align="center">{{deal.original_price|floatformat:2}} ש"ח</td>
							<td align="center">{{deal.discounted_price|floatformat:2}} ש"ח</td>
						</tr>
						
					</table>
				</div>
				<!-- end deal description -->

				<!-- begin transaction details table -->
				<div>
					<table border="1px" cellpadding="10px" width="100%" style="margin-top:10px;margin-bottom:40px;">
						{% if deal.transaction|length_is:"0" %}
							<td style="text-align: center;">
								<strong style="display:inline-block;margin-top:10px;color:red;">לא נרכשו עסקאות לדיל זה </strong>
							</td>
						{% else %}
							<tr>
								<th>מס' עסקה</th>
								<th>שם משפחה</th>
								<th>שם פרטי</th>
								<th>טלפון</th>
								<th>אימייל</th>
								<th>כמות דילים</th>
								<th>סה"כ שולם</th>
							</tr>	
							{% for transaction in deal.transaction %}
							<tr>
								<td align="center">{{transaction.id}}</td>
								<td align="center">{{transaction.phone_profile.user_profile.user.last_name}}</td>
								<td align="center">{{transaction.phone_profile.user_profile.user.first_name}}</td>
								<td align="center">{{transaction.phone_profile.user_profile.phone}}</td>
								<td align="center">{{transaction.phone_profile.user_profile.user.email}}</td>
								<td align="center">{{transaction.amount}}</td>
								<td align="center">{% multiply transaction.amount deal.discounted_price %} ש"ח</td>								
							</tr>
							{% endfor %}
						{% endif %}
					</table>
					<hr/>
				</div>
				<!-- end transaction details table -->
			
			{% endfor %}
		
		</div>
		
		
	{% else %}
		<div style="margin-top: 15px;text-align: center">
			אין עסקאות עבור הדילים המבוקשים
		</div>
	{% endif %}
	
{% endblock content %}
<!-- end report content -->

<!-- begin report summary -->
{% block summary %}

	{% if deals %}
	
		<table border="1px" cellpadding="10px" width="100%">
			<tr>
				<th>סה"כ עסקאות</th>
				<th>סכום  כולל</th>
			</tr>
			<tr>
				<td align="center">{{sum_of_transactions}}</td>
				<td align="center">{{sum_of_amount_paid_transactions}} ש"ח</td>
			</tr>
		</table>
		
	{% endif %}
	
{% endblock summary%}
<!-- end report summary -->
