<html dir="rtl">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body>
		<div style="width: 90%;margin: 0 auto;">
			
			<!-- begin header -->
			<table style="width: 100%; height: 45px;">
				<tr>
					<!-- <td>
						<img src="https://s3-eu-west-1.amazonaws.com/workerim-server/pdf/logo004+%289%29XL.jpg" height="100"/>
					</td> -->
					<td style="width: 100%;vertical-align: left;"><h3 style="text-align: right;">2Nite</h3></td>
					<td>
						{% now "d/m/Y" %}
					</td>
				</tr>
			</table>
			<!-- end header -->
			
		</div>
	</body>
</html>