{% load ticketz_backend_extras %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body>
		<div style="width: 90%;margin: 0 auto;">
			
			
			<!-- begin header -->
			<table style="width: 100%; height: 45px;">
				<tr>
					<td>
						<img src="https://s3-eu-west-1.amazonaws.com/workerim-server/pdf/logo004+%289%29XL.jpg" height="100"/>
					</td>
					<td style="width: 100%"></td>
					<td style="vertical-align: middle">
						{{date}}
						<br/>
						2Nite
					</td>
				</tr>
			</table>
			<!-- end header -->
			
			<!-- begin document header -->
			<div>
				<h1 style="text-align: center; font-weight: normal; color: #484848;">
				Deal Reports
				</h1>
			</div>
			<!-- end document header -->
			
			{% if deals %}
				<div style="margin-top: 15px;">
					
					{% for deal in deals %}
						
						<!-- begin deal description -->
						<div class="section-title" style="margin-top: 15px;">
							<h2 class="blue-title">
								{{deal.title}}
							</h2>
							<p>
								{{deal.description}}
							</p>
							<p>
								<strong>Time:</strong> {{deal.valid_from}} - {{deal.valid_to}}
							</p>
							<p>
								<strong>Original price:</strong>{{deal.original_price}} 
								<strong>Discounted price:</strong>{{deal.discounted_price}} 
							</p>
							<hr/>
						</div>
						<!-- end deal description -->
						
						<div>
							<table>
								<tr>
									<th>#</th>
									<th>Last Name</th>
									<th>First Name</th>
									<th>Phone</th>
									<th>Email</th>
									<th>Amount</th>
									<th>Total Paid</th>
								</tr>
								{% for transaction in deal.transaction %}
								<tr>
									<td>{{transaction.id}}</td>
									<td>{{transaction.phone_profile.user_profile.last_name}}</td>
									<td>{{transaction.phone_profile.user_profile.first_name}}</td>
									<td>{{transaction.phone_profile.user_profile.phone}}</td>
									<td>{{transaction.phone_profile.user_profile.email}}</td>
									<td>{% multiply transaction.amount deal.discounted_price %}</td>
									<td></td>									
									<!-- <td>
										{% if transaction.status == 2 %}
											Confirmed
										{% else %}
											{% if transaction.status == 3 %}
												Claimed
											{% endif %}
										{% endif %}
									</td> -->
									<td></td>
								</tr>
								{% endfor %}
							</table>
						</div>
					
					{% endfor %}
				
				</div>
			{% else %}
				<div style="margin-top: 15px;text-align: center">
					No Deals
				</div>
			{% endif %}
			
		</div>
	</body>
</html>