{% extends "emails/base_email.html" %}

{% block content %}
<h1>
	Your account in 2Nite is now approved
</h1>
<p>
	Your cradentials:
</p>
<table>
	<tr> 
		<td>
			password:			
		</td>
		<td>
			{{password}}
		</td>
	</tr>
</table>
<p>
	please go the the following url and input you last minute dealz:
	<a href="{{provider_url}}">2Nite</a>
</p>
<p>
	If you have any questions you can contact our support:
</p>
<table>
	<tr>
		<td>
			Support mail:
		</td>
		<td>
			{{admin_mail}}
		</td>
	</tr>
	<tr>
		<td>
			Support phone:
		</td>
		<td>
			{{admin_phone}}
		</td>
	</tr>
</table>
{% endblock %}