{% extends "emails/base_email.html" %}

{% block content %}
	<h1>
		Thank you for purchasing
	</h1>
	<p>
		Sms is sent to your device with a order confirmarion code
	</p>
	<p>
		Your order for the following item has been accepted:
	</p>
	<table>
		<tr>
			<td>
				<strong>
					Amount
				</strong>
			</td>
			<td>
				{{amount}}
			</td>
		</tr>
		<tr>
			<td>
				<strong>
					Item title
				</strong>
			</td>
			<td>
				{{deal.title}}
			</td>
		</tr>
		<tr>
			<td>
				<strong>
					Item Description
				</strong>
			</td>
			<td>
				{{deal.description}}
			</td>
		</tr>
		<tr>
			<td>
				<strong>
					The deal is valid from:
				</strong>
			</td>
			<td>
				{{deal.valid_from}}
			</td>
		</tr>
		<tr>
			<td>
				<strong>
					The deal is valid to:
				</strong>
			</td>
			<td>
				{{deal.valid_to}}
			</td>
		</tr>
		<tr>
			<td>
				<strong>
					Price for single item
				</strong>
			</td>
			<td>
				{{deal.discounted_price}}
			</td>
		</tr>
		<tr>
			<td>
				<strong>
					Total price charged
				</strong>
			</td>
			<td>
				TBD
			</td>
		</tr>
	</table>
	
	<p>
		If there is any problem with your order please contact us:
		Mail: {{admin_mail}}
		Phone: {{admin_phone}}
	</p>
		
	
{% endblock %}